/* ============================================================== */
/* DESIGN SYSTEM */
/* ============================================================== */
:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #b8860b;
  --yellow: #FCE908;
  --blue: #1A67AD;
  --lightgray: #f9f7f5;
  --gray: #acacac;
  --darkgray: #242424;
  --copygray: #848484;
}

/* ============================================================== */
/* RESET */
/* ============================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  max-width: 100vw;
}

@media screen and (min-width: 900px) {
  html {
    overflow: unset;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
  max-width: 100vw;
}

@media screen and (min-width: 900px) {
  body {
    overflow: unset;
  }
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: all .25s;
}

a:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0, );
  white-space: nowrap;
  border: 0;
}

.top-content {
  position: relative;
}

.ghost-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background: none;
  z-index: 100;
  pointer-events: none;
}

.ghost-flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  z-index: 2;
  padding: 60px 40px;
  max-width: 1240px;
}

@media screen and (min-width: 1240px) {
  .ghost-flex {
    padding: 60px;
  }
}

.ghost-image {
  flex: 1;
  display: none;
  max-width: 400px;
  height: 100%;
  position: relative;
  z-index: 100;
  pointer-events: auto;
}

@media screen and (min-width: 900px) {
  .ghost-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.ghost-image a {
  margin-top: 45px;
  position: sticky;
  top: 80px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all .25s;
  overflow: hidden;
}

.ghost-image a:hover {
  transform: scale(1.05);
}

.ghost-image a::before {
  content: "Buy Now on\A Amazon";
  white-space: pre-line;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 15px;
  background: var(--yellow);
  color: #443833;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translateY(100%);
  transition: all 0.25s ease;
  z-index: 1;
  opacity: 0;
}

.ghost-image a:hover::before {
  opacity: 1;
  transform: translateY(0);
}

.ghost-image img {
  max-width: 260px;

  position: relative;
}

.ghost-content {
  flex: 1;
  max-width: 660px;
}

/* ============================================================== */
/* HERO */
/* ============================================================== */
.hero {
  padding: 60px 0 70px;
  background: url('./images/hero.webp') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 500px) {
  .hero {
    padding: 120px 0;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--white) 60%, rgba(249, 247, 245, .75) 80%, rgba(249, 247, 245, 1) 95%);
  z-index: 1;
}

@media screen and (min-width: 900px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--white) 50%, rgba(249, 247, 245, .75) 65%, rgba(249, 247, 245, 1) 90%);
    z-index: 1;
  }
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
  z-index: 1;
}

.hero .container {
  padding: 0 40px;
  max-width: 1200px;
}

@media screen and (min-width: 1240px) {
  .hero .container {
    padding: 0 60px;
    max-width: 1240px;
  }
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 2;
}

.hero-image {
  flex: 1;
  display: none;
  max-width: 400px;
}

@media screen and (min-width: 900px) {
  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 389px;
  }
}

.hero-image img {
  max-width: 260px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all .25s;
}

.hero-image img:hover {
  transform: scale(1.05);
}

.hero-content {
  flex: 1;
  max-width: 660px;
  position: relative;
  z-index: 1000;
}

.title {
  font-family: 'Cinzel', serif;
  margin: 20px 0 15px;
  padding: 0;
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 56px;
    line-height: 57px;
  }
}

.copy {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  max-width: 600px;
}

.accent {
  color: var(--accent);
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.rating img {
  margin-top: -3px;
  flex: 1;
  max-width: 90px;
}

@media screen and (min-width: 500px) {
  .rating img {
    max-width: 125px;
  }
}

.btns {
  margin: 30px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-gap: 30px 20px;
  flex-direction: column;
}

@media screen and (min-width: 455px) {
  .btns {
    flex-direction: row;
    align-items: center;
  }
}

.btn-amazon {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background: none;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  max-width: 200px;
  transition: all .25s;

  position: relative;
  z-index: 0;
  background: transparent;
  border: 1px solid var(--accent);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.btn-amazon:hover {
  transform: scale(1.05);
}

.btn-amazon:before {
  content: '';
  background: linear-gradient(45deg, var(--yellow), var(--blue), var(--yellow), var(--blue), var(--yellow));
  position: absolute;
  top: -1px;
  left: -1px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: glowing 12s linear infinite;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  border-radius: 7px;
}

.btn-amazon:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--black);
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.sample-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background: none;
  color: var(--accent);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all .25s;
}

.sample-btn:hover {
  color: var(--black);
}

/* ============================================================== */
/* STORY */
/* ============================================================== */
.story-section {
  padding: 50px 0 0;
  background: var(--white);
  position: relative;
}

@media screen and (min-width: 500px) {
  .story-section {
    padding: 80px 0 0;
  }
}

.story-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  z-index: 2;
  background: var(--lightgray);
  border-radius: 15px;
  padding: 60px 40px;
  max-width: 1200px;
}

@media screen and (min-width: 1240px) {
  .story-flex {
    padding: 60px;
    max-width: 1240px;
  }
}

.story-image {
  flex: 1;
  display: none;
  max-width: 400px;
}

@media screen and (min-width: 900px) {
  .story-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.story-image img {
  max-width: 260px;
}

.story-content {
  flex: 1;
  max-width: none;
  position: relative;
  z-index: 1000;
}

@media screen and (min-width: 900px) {
  .story-content {
    max-width: 660px;
  }
}

.story-title {
  font-family: 'Cinzel', serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .story-title {
    font-size: 48px;
    line-height: 52px;
  }
}

.story-copy {
  margin: 20px 0 0;
  padding: 0;
}

.story-copy p {
  margin: 20px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 700px) {
  .story-copy p {
    font-size: 21px;
    line-height: 32px;
  }
}

.story-copy p:first-child {
  margin: 0;
}


/* .story-section {
  margin: 0;
  padding: 30px 0 0;
  background: var(--white);
}

@media screen and (min-width: 500px) {
  .story-section {
    padding: 50px 0 0;
  }
}

.story-wrap {
  margin: 0 auto;
  padding: 50px 30px;
  background: var(--lightgray);
  border-radius: 15px;
}

@media screen and (min-width: 500px) {
  .story-wrap {
    padding: 60px;
  }
}

.story-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px 60px;
}

@media screen and (min-width: 1200px) {
  .story-container {
    flex-direction: row;
  }
}

.story-content {
  flex: 1;
  max-width: 600px;
}

.story-title {
  font-family: 'Cinzel', serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .story-title {
    font-size: 48px;
    line-height: 52px;
  }
}

.story-copy {
  margin: 20px 0 0;
  padding: 0;
}

.story-copy p {
  margin: 20px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 700px) {
  .story-copy p {
    font-size: 21px;
    line-height: 32px;
  }
}

.story-copy p:first-child {
  margin: 0;
}

.story-image {
  flex: 1;
  max-width: 340px;
}

@media screen and (min-width: 900px) {
  .story-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.story-image img {
  max-width: 260px;
} */

/* ============================================================== */
/* REVIEWS */
/* ============================================================== */
.reviews-section {
  margin: 0;
  padding: 0 0 80px;
  background: var(--white);
}

@media screen and (min-width: 500px) {
  .reviews-section {
    padding: 0 0 100px;
  }
}

.reviews-content {
  margin: 0 auto;
  padding: 60px 20px;
  background: var(--darkgray);
  border-radius: 15px;
}

.reviews-title {
  margin: 0 auto 10px;
  font-family: 'Cinzel', serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  flex: 1;
  color: var(--accent);
  text-align: center;
}

.swiper {
  max-width: 1000px;
  margin: 0 auto;
}

.review {
  margin: 0 auto;
  max-width: 900px;
  background: transparent;
  padding: 30px 60px;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
}

.review-header {
  margin-bottom: 40px;
}

.review-header h3 {
  font-family: 'Cinzel', serif;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 10px;
  color: var(--accent)
}

@media screen and (min-width: 700px) {
  .review-header h3 {
    font-size: 36px;
    line-height: 40px;
  }
}

.review .review-header p {
  font-size: 16px;
  line-height: 23px;
  color: var(--gray);
}

.review p {
  margin: 0 auto;
  font-size: 17px;
  line-height: 28px;
  color: var(--white);
  max-width: 700px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  color: var(--accent) !important;
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--yellow) !important;
}

.swiper-pagination-bullets {
  margin-top: 20px;
  position: relative !important;
}

.swiper-pagination-bullet {
  margin: 0 10px !important;
  width: 20px !important;
  height: 20px !important;
  background: none !important;
  border: 2px solid var(--accent) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--accent) !important;
}

@media (max-width: 768px) {
  .review {
    padding: 20px;
  }

  .reviews-content h2 {
    font-size: 2rem;
  }
}

/* ============================================================== */
/* FEATURES */
/* ============================================================== */
.features {
  margin: 0;
  padding: 80px 0;
  background: var(--white);
}

@media screen and (min-width: 500px) {
  .features {
    padding: 100px 0;
  }
}

.features-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  flex: 1;
  width: 100%;
  height: 1px;
  background: var(--accent);
}

.features-title {
  font-family: 'Cinzel', serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 0;
  border-top: 1px solid var(--accent);
}

@media screen and (min-width: 550px) {
  .features-title {
    padding: 0;
    border: none;
  }
}

@media screen and (min-width: 700px) {
  .features-title {
    font-size: 48px;
    line-height: 52px;
  }
}

.story-title {
  font-family: 'Cinzel', serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  flex: 1;
  max-width: none;
}

@media screen and (min-width: 700px) {
  .story-title {
    font-size: 48px;
    line-height: 52px;
  }
}

.features-subtitle {
  margin: 10px 0 0;
  padding: 0;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: var(--copygray);
}

.grid-container {
  position: relative;
}

.grid-container::before {
  display: none;
}

.grid-container::after {
  display: none;
}

@media screen and (max-width: 549px) {
  .grid-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.8) 65%, rgba(255, 255, 255, 0) 85%);
    pointer-events: none;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .grid-container.scrolled::before {
    opacity: 1;
  }

  .grid-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -50px;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.8) 35%, rgba(255, 255, 255, 1) 50%);
    pointer-events: none;
    z-index: 2;
  }
}

.grid {
  margin: 50px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 549px) {
  .grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .card {
    width: 225px;
    flex-shrink: 0;
  }
}

.card {
  padding: 30px;
  background: var(--lightgray);
  border-radius: 15px;
  overflow: hidden;
}

@media screen and (max-width: 549px) {
  .card:last-child {
    margin-right: 70px;
  }
}

.card h4 {
  margin: 0 0 15px;
  font-family: 'Cinzel', serif;
  font-size: 21px;
  line-height: 32px;
  font-weight: bolder;
  text-transform: uppercase;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
}

/* ============================================================== */
/* BOOKEND */
/* ============================================================== */
.bookend {
  margin: 0;
  padding: 80px 0;
  background: var(--lightgray);
}

@media screen and (min-width: 500px) {
  .bookend {
    padding: 100px 0;
  }
}

.bookend-title {
  margin: 0 auto 20px;
  max-width: 575px;
  font-family: 'Cinzel', serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .bookend-title {
    font-size: 48px;
    line-height: 52px;
  }
}

.bookend-copy {
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 27px;
  max-width: 700px;
  text-align: center;
}

.bookend-copy a {
  transition: all .25s;
}

.bookend-copy a:hover {
  color: var(--accent)
}

.cta-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px 20px;
}

@media screen and (min-width: 455px) {
  .cta-buttons {
    flex-direction: row;
  }
}

.cta-trust {
  margin: 50px auto 0;
  font-size: 0.95rem;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px 10px;
}

@media screen and (min-width: 1100px) {
  .cta-trust {
    flex-direction: row;
  }
}

.cta-trust a {
  transition: all .25s;
}

.cta-trust a:hover {
  color: var(--accent)
}

.journey {
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  font-size: 21px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px 10px;
}

@media screen and (min-width: 650px) {
  .journey {
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.journey span {
  font-size: 35px;
}